@import "../bower_components/html5-boilerplate/dist/css/normalize.css";

$mainColor1: #479ed4;
$mainColor2: #53617a;
$heightStatusBlock: 60px;
$headerHeight: 67px;
$scenariosBlockWidth: 300px;
$headerPaddingBottomTop: 10px;
$filterBtnWidth: 60px;
$filterBtnBorderLeftWidth: 10px;
$filterContainerBackgroundColor: #293649;
$paddingTopMainContainerUiView: 30px;
$paddingRightMainContainerUiView: $scenariosBlockWidth + 30px;
$paddingBottomMainContainerUiView: 150px;
$paddingLeftMainContainerUiView: $filterBtnWidth + 30;

%img_block
{
  display: block;
  width: 100%;
  max-width: 100%;
}
html,
body,
.page-wrapper
{
  width: 100%;
  height: 100%;
}
body
{
  overflow: hidden;
}
.page-wrapper
{
  min-width: 1024px;
  position: relative;
  font-size: 0;
  box-shadow: 2px 2px 10px 2px #475d7e;
}
.main-view
{
  min-height: 100%;
}
.main-content-wrapper
{
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-bottom: $heightStatusBlock;
  overflow-y: scroll;
}
.scenarios
{
  position: absolute;
  top: $headerHeight+2*$headerPaddingBottomTop;
  right: 6px;
  width: $scenariosBlockWidth;
  vertical-align: top;
  height: 100%;
  min-height: 100%;
  z-index: 5;
}
.page-header
{
  display: block;
  width: 100%;
  padding-right: 6px;
}
.page-header-wrapper
{
  background-color: $mainColor1;
}
.logotype-container
{
  display: block;
  width: 64px;
  height: $headerHeight;
  padding: $headerPaddingBottomTop;
}
.logotype-link
{
  display: block;
  width: 100%;
  height: 100%;
}
.logotype-img
{
  @extend %img_block;
  height: 100%;
}
/*filter*/
.filters
{
  display: block;
  position: absolute;
  left: 0;
  top: $headerHeight + 2*$headerPaddingBottomTop;
  width: $filterBtnWidth + $filterBtnBorderLeftWidth;
  height: 100%;
  background-color: $filterContainerBackgroundColor;
}
.filter-devices-group
{
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter-btn-container
{
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
}
.filter-btn-container:before
{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background: $filterContainerBackgroundColor;
  z-index: 5;
}
.btn-switch-false.filter-btn-container:before
{
  background: $mainColor1;
}
button
{
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  font-size: 0;
  outline: none;
  cursor: pointer;
}
.filter-btn
{
  position: relative;
}
.filter-btn-change-page-link
{
  position: absolute;
  display: block;
  top: 0;
  left: $filterBtnBorderLeftWidth;
}
.hide-btn-link
{
  display: none;
}
.filter-btn-img
{
  float: right;
  width: 60px;
  height: 60px;
}
.btn-switch-false .filter-btn-img
{
  filter: brightness(100%) hue-rotate(0deg) invert(0%);
  -webkit-filter: brightness(100%) hue-rotate(0deg) invert(0%);
}
.btn-switch-true .filter-btn-img
{
  filter: brightness(85%) hue-rotate(190deg) invert(100%);
  -webkit-filter: brightness(85%) hue-rotate(190deg) invert(100%);
}
/*expert mode page*/

.manage-container-wrapper
{ overflow-y: auto;
  padding: $paddingTopMainContainerUiView $paddingRightMainContainerUiView $paddingBottomMainContainerUiView $paddingLeftMainContainerUiView
}
.manage-container
{
  display: block;
  width: 100%;
}
.device-group-title
{
  margin-top: 0;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  color: #9393a8;
  text-transform: capitalize;
}
.devices-present-container
{
  border-radius: 10px;
  padding: 20px;
  background-color: #f0f7ff;
  margin-bottom: 20px;
  margin-top: 20px;
}
.device
{
  font-size: 0;
  position: relative;
  margin-bottom: 20px;
}
.device-icon
{
  margin-left: 40px;
  display: inline-block;
  vertical-align: middle;
}
.device-icon-false
{
  opacity: .7;
}
.device-icon-true
{
  opacity: 1;
}
.device-name
{
  display: inline-block;
  padding-left: 20px;
  font-size: 18px;
  text-transform: uppercase;
}
.device-status-btn-container
{
  display: block;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 60px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
}
.container-btn-switch-info-true
{
  background-color: #395773;
  box-shadow: inset 0 5px 2px $filterContainerBackgroundColor;
}
.container-btn-switch-info-false
{
  background-color: #d1dfea;
  box-shadow: inset 0 5px 2px #a4afb8;
}
.container-btn-switch-info-true .switch-info
{
  color: #fff;
}
.container-btn-switch-info-false .switch-info
{
  color: #777
}
.btn-device-status
{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  top: 0;
  background-color: #fff;
  box-shadow: inset 0 -5px 5px #7678af;
  transition: all .1s linear;
}
.switch-true
{
  left: 0;
}
.switch-false
{
  left: 40px;
}
.switch-info
{
  display: block;
  font-family: Roboto, sans-serif;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  padding-top: 6px;
  text-transform: uppercase;
}
.switch-info-true
{
  text-align: end;
}
.switch-info-false
{
  text-align: left;
}
.status-info-block
{
  display: block;
  width: 100%;
  background: #77c4f0;
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
}
/*scenarios*/
.scenarios-container
{
  width: 100%;
  height: 100%;
  background: #29364a;
  padding-top: 15px;
}
.scenarios-field-title
{
  margin-left: 4%;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 14px;
}
.menu-block
{
  width: 92%;
  margin: 15px auto;
}
.menu-scenarios-manage-block
{
  width: 100%;
}
.menu-block,
.menu-scenarios-manage-block
{
  display: block;
  font-size: 0;
  margin-bottom: 20px;
}
.menu-link
{
  display: inline-block;
  position: relative;
  width: 48%;
  margin-right: 4%;
  height: 37px;
  background-repeat: no-repeat;
  background-image: url("../assets/img/sprite-links-img.jpg");
}
.device-mode-link
{
  background-position: 0 -111px;
}
.device-mode-link.active-link
{
  background-position: 0 -74px;
}
.expert-mode-link
{
  background-position: 0 0;
}
.expert-mode-link.active-link
{
  background-position: 0 -37px;
}
.menu-link + .menu-link
{
  margin-right: 0;
}
.menu-link img
{
  @extend %img_block;
}
//Tabs
.tab-btn
{
  display: inline-block;
  width: 50%;
  height: 50px;
  background-image: url("../assets/img/sprite-tabs-img.jpg");
  background-repeat: no-repeat;
  background-position-x: 0;
}
#scenarios-btn
{
  background-position-y: -55px;
}
#info-btn
{
  background-position-y: -165px;
}
#scenarios-btn.open
{
  background-position-y: 0;
}
#info-btn.open
{
  background-position-y: -110px;
}
.tab-content
{
  display: none;
  width: 100%;
  background-color: $mainColor2;
  border-top: 1px solid $filterContainerBackgroundColor;
  padding-bottom: 20px;
  color: #eee;
  font-family: Roboto, sans-serif;
}
.open-content
{
  display: block;
}
.off-all-devices-btn
{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
  background: none;
  display: inline-block;
  width: auto;
}
.tab-scenarios-content
{
  display: block;
  width: 100%;
  font-size: 0;
}
.tab-scenarios-content-first-block
{
  display: inline-block;
  width: 60%;
}
.tab-scenarios-content-second-block
{
  display: inline-block;
  width: 40%;
}
.devices-group-manage-container
{
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.devices-group-manage
{
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: url("../assets/img/sprite-scenarios-logos.jpg") 0 -21px no-repeat;
}
#tab-info
{
  padding-left: 20px;
}
.tab-info-title
{
  text-transform: capitalize;
  font-size: 18px;
}
.tab-info-text
{
  text-transform: capitalize;
  font-size: 16px;
}
/*status field*/
.status
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $heightStatusBlock;
  overflow: hidden;
  z-index: 4;
}
.status-field-container
{
  display: block;
  width: 100%;
  position: relative;
}
.status-field-icon-block
{
  display: block;
  width: 70px;
  height: 60px;
  z-index: 1;
  position: relative;
}
.status-field-icon
{
  display: block;
  width: 100%;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.status-field-text-block
{
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  right: 6px;
  background-color: #dce7f9;
}
.status-field-text-info
{
  font-size: 16px;
  padding-left: 80px;
  line-height: 60px;
}
/*devices mode*/
.device-mode-main-wrapper
{
  display: block;
  width: 100%;
  height: 100vh;
}
.device-mode-map-img-block
{
  width: 100%;
  height: 100%;
  background-color: #dce7f9;
}
.device-mode-main-img
{
  @extend %img_block
}
::-webkit-scrollbar
{
  width: 6px;
}
::-webkit-scrollbar-thumb
{
  background-color: $mainColor1;
}
::-webkit-scrollbar-track
{
  background-color: $filterContainerBackgroundColor;
  border-width: 0;
}